@media screen and (min-width:1024px){
    .container{
        margin: 0px auto;
        width:1210px;
    }
}
@media screen and (max-width:739px){
    .container .error-mesenger{
        display: block;
    }
    .header .header-logo{
        width:40%;
    }
    .header .header-detail{
        width:60%;
    }
    .header .header-logo .header-logo-image{
        background-position: center ;
        height:150px;
    }
    .main .main-right{
        margin-left: 0px !important;
    }
    .main .main-left{
        display: none;
    }
    .main .main-right .navigation-wrap{
       padding-left: 6px;
    }

    .main .main-right .navigation-wrap .navigation-container-child .navigation-wrap-slide{
        width:500%;
       
      }
}
@media screen and (max-width:1023px) and (min-width:740px){
    .container .error-mesenger{
        display: block;
    }
}